@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
*{
	font-family: "Josefin sans", sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

html{
	font-size: 100%;
}

img{
	width: 100%;
}

body{
	background-image: url("../images/background1.jpg");
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: white;
}

/* ================== Upper ================================*/

.back-btn {
	background-color: rgba(220, 220, 250, 0.8);
	padding: 5px;
	margin: 5px 20%;
	border-radius: 10px;
	color: #984848;
}

/* ================== Nav ==================================*/

.logo{
	vertical-align: top;
	width: 50px;
	border-radius: 6px;
}

.logo:hover{
	transition: 0.3s;
	width: 55px;
}

nav{
	padding: 5px 20px;
	background-color: white;
	position: sticky;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 0 10px 0 black;
}

ul, li{
	list-style: none;
	display: inline-block;
}

.btn {
	display: inline-block;
	border: none;
	color: black;
	padding: 16px 20px;
	font-size: 16px;
	margin: 0;
	transition: 0.3s;
}

.btn:hover,.btn2:hover {
  background-color: lightblue;
  color: white;
}

/* ================== Header ===============================*/

.cropped {
	width: cover; 
	height: 200px;
	object-fit: cover;
}

.cropped1 {
	width: cover; 
	height: 80px;
	object-fit: cover;
}

/* ================== Main =================================*/

.btn2 {
	border: none;
	color: #132D2B;
	padding: 16px;
	margin: 0 10%;
	border-radius: 20px;
	transition: 0.3s;
}

/* ================== Artículos ============================*/

figure a{
	color: black;
}

.menu{
	display: inline-block;
	width: 250px;
	margin-top: 10px;
	vertical-align: top;
	border-radius: 15px;
	background-color: lightblue;
}

.menuMin{
	width: 180px;
	vertical-align: top;
	display: inline-block;
}

.menuMin:hover,.menu:hover{
	transition: 0.2s;
	box-shadow: 0 0 15px 1px rgb(50, 50, 50);
	border-radius: 10px;
}
/* ================== Footer ===============================*/

footer{
	background-color: black;
	padding: 10px 0 30px 0;
}

footer nav{
	border-radius: 0;
	background-color: black;
	border-bottom-style: solid;
	border-color: white;
}

footer nav ul li a{
	color: white;
}

footer div{
	display: inline-block;
	margin: 5px;
}

.white-link:hover{
	transition: 0.3s;
	color: #648653;
}

.img-footer{
	width: 25px;
}

.img-footer:hover{
	transition: 0.4s;
	width: 27px;
}

/* ================== Grid Mobile ===========================*/
/*
.contenedor{
	display: grid;
	grid-template: 
	"topper topper topper"	40px
	"nav nav nav"						auto
	"header header header"	auto
	"aside main main"				auto
	"footer footer footer"	auto;
}

.topper{
	grid-area: topper;
}

.nav{
	grid-area: nav;
}

.header{
	grid-area: header;	
}

.aside{
	background-color: rgba(200, 200, 200, 0.7);
	grid-area: aside;
	padding: 30px;
	margin: 10px;
}

.main{
	background-color: rgba(0, 100, 250, 0.3);
	grid-area: main;
	padding: 10px;
	margin: 10px;
}

.footer{
	grid-area: footer;
}
