@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
*{
	font-family: "Josefin sans", sans-serif;
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../images/background1.jpg");
	background-attachment: fixed;	
	background-size: cover;
}

a{
	text-decoration: none;
}

h3{
	color: black;
}

.navbar-dark .nav-item .nav-link {
  color: white;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.img-carousel{
	height: 300px;
	object-fit: cover;
}

.back-top {
	background-color: rgba(220, 220, 250, 0.8);
	padding: 5px;
	margin: 5px 20%;
	border-radius: 10px;
}

.nav-item, .nav-link{
	padding: 8px 20px;	
	transition: 0.3s;
}

.nav-item:hover {
	background-color: lightblue;
	border-radius: 3px;
}

.nav-link:hover{
	color: white !important;
}

.item-hover:hover{
	transition: 0.3s;
	color: black;
	background-color: lightblue;
	box-shadow: 0 0 15px 1px rgb(50, 50, 50);	
}

.btn2 {
	background-color: lightblue;
	width: 500px;
	border-radius: 20px;
}

.active{
	font-weight: 700;
	border-bottom-style: solid;
}

.bg-lightblue{
	background-color: lightblue;
}