// _body

.item-hover:hover{
	transition: 0.3s;
	color: $black;
	background-color: $mainColor;
	box-shadow: 0 0 15px 1px $shadow;	
}

.iframe-map{
	height: 400px;
	width: 90%;
}

//== botones ==

.btn2 {
	background-color: $mainColor;
	width: 500px;
	border-radius: $border-xl;
}