// nav

nav{
	img{
		width:55px;
	}
	ul li a:hover{
		color: $white;
	}
}

.back-top {
	background-color: $back-lightblue-transparent;
	padding: 5px;
	margin: 5px 20%;
	border-radius: $border-lg;
}

.btn-custom-nav{
	transition: 0.3s;
	&:hover{
		background-color:$mainColor;
		border-radius: $border-sm;
	}
}

.active{
	font-weight: 700;
	border-bottom-style: solid;
}

