@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

// fonts

$mainFont: 'Josefin Sans', sans-serif	;
$secondaryFont: 'Roboto', sans-serif	;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:1.6em;
$textXl:3em;